/*para movil -> columnas*/
main{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: auto;
    font-family: system-ui;
    max-width: 800px;

}
/* para desktop -> por section*/

h1{
    color: white;
}
p{
    color: white;
    text-align: center;
    
}

section{
    display: flex;
    align-items: center;
    gap: 2rem
}

section img{
    max-width: 500px;
}